<div class="container md:px-16 mx-auto">
    <div class="carasoul flex py-4">
        <div class="lg:w-9/12 sm:w-full px-0">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide >
                    <img class="w-full h-96" src="assets/images/main-slider-3.jpeg" >
                </ng-template>
                <ng-template carouselSlide >
                    <img class="w-full h-96" src="assets/images/main-slider-2.jpeg" >
                </ng-template>
                <ng-template carouselSlide >
                    <img class="w-full h-96" src="assets/images/main-slider-1.jpeg" >
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="lg:w-3/12 sm:w-full px-0">
            <img class="w-full h-48" src="assets/images/blog-img-1.jpeg" alt="">
            <img class="w-full h-48" src="assets/images/blog-img-2.jpeg"  alt="">
        </div>
    </div>

    <div class="carasoul">
        <owl-carousel-o [options]="customOptionsCat">
            @for (category of categoriesArr; track $index) {
                <ng-template carouselSlide >
                <img class="w-full lg:h-80 xl:h-48" [src]="category.image">
                <h6 class="text-center text-main font-bold py-4">{{category.name}}</h6>
                </ng-template>
            }
        </owl-carousel-o>
    </div>

    <div class="flex flex-wrap gap-y-3">
        <div class="w-full">
            <input [(ngModel)]="searchVal" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-6/12 mx-auto p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="search by product name" required />
        </div>
        @for (product of productsArr | search: searchVal; track $index) {
            <div class="2xl:w-2/12 xl:w-3/12 lg:w-4/12 md:w-6/12 w-10/12 mx-auto p-1">
                <div  class="flex justify-between flex-col bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 items-center h-full">
                    <div class="cursor-pointer" [routerLink]="['/productDetails', product._id]">
                        <img class="rounded-t-lg w-full" [src]="product.imageCover"/>
                        <div class="p-3">
                           <p class="mb-3 font-normal text-main">{{product.category.name}}</p>
                           @if(product.title){
                               <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.title.split(' ').slice(0,2).join(' ')}}</h1>
                           }
                           <div class="flex justify-between">
                               <p>{{product.price}}</p>
                               <p> <i class="fa-solid fa-star text-yellow-400"></i>{{product.ratingsAverage}}</p>
                           </div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <button (click)="addToCart(product._id)" type="button" class="w-full text-white font-medium rounded-lg text-sm py-2.5 bg-main">Add To Cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>