<div class="md:w-7/12 max-md:px-8 mx-auto">
    @if (errorMessage) {
        <h2 class="p-4 mb-4 mt-1 text-3xl text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">{{errorMessage}}</h2>
    }
    <h2 class=" text-main font-bold text-4xl">Login Now</h2>
   <form class="my-3" [formGroup]="loginForm" (ngSubmit)="sendData()">
        <div class="my-3">
            <label for="email">Email: </label>
            <input id="email" type="email" class="w-full rounded-lg border-gray-500" formControlName="email">
            @if(loginForm.get('email')?.errors && loginForm.get('email')?.touched){
                <div class="p-4 mb-4 mt-1 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    @if (loginForm.get('email')?.errors?.['required']) {
                    <p>Email is Required</p>
                    }
                    @else if(loginForm.get('email')?.errors?.['email']) {
                    <p>email must be valid</p>
                    }
                </div>
            }
        </div>
        <div class="my-3">
            <label for="password">password: </label>
            <input id="password" type="password" class="w-full rounded-lg border-gray-500" formControlName="password">
            @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
                <div class="p-4 mb-4 mt-1 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    @if(loginForm.get('password')?.errors?.['required']){
                    <p>Password is Required</p>
                    }
                    @else if (loginForm.get('password')?.errors?.['pattern']) {
                            <p>Password must be from 8 to 12 characters which contain:
                                <br>- Capital Letter
                                <br>- Small Letter
                                <br>- Special Character ($!%*&#64;?&)
                                <br>- Number</p>
                    }
                </div>
            }
        </div>
        <div class="flex justify-end items-center">
            <a  routerLink="/emailVerify" class="mx-4 text-blue-500 underline hover:text-blue-500 hover:underline cursor-pointer">Forget Password</a>
            <button [disabled]="loginForm.invalid" class="btn-main">Register</button>
        </div>
   </form>
</div>